version: "3"
services:
  subot-engine:
    build:
      context: ./engine
      dockerfile: Dockerfile
  subot-api:
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      SUBOT_ENGINE_URL: "http://subot-engine:5000"
  subot-web:
    build:
      context: ./ui
      dockerfile: Dockerfile
    container_name: subot-web
    hostname: subot-web
    restart: on-failure
    ports:
      - "80:80"
